@charset "UTF-8";

@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'core';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 19px 125px 20px;

    &__logo {
        font-weight: 700;
        font-size: 24px;
    }

    &__menu {
        &-list {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &-item {
            a {
                font-size: 15px;
                line-height: 26px;
            }
        }
    }

    &__btn {
        @include btn($blue, $blue, 8px, #fff, 17px, 15px, 25px);
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;

    &__img {
        margin-bottom: 80px;
    }

    &__non-stop {
        text-transform: uppercase;
        color: $red;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 27px;
    }

    &__title {
        font-size: 60px;
        line-height: 65px;
        margin-bottom: 29px;
    }

    &__text {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 35px;
        width: 636px;
    }

    &__btn {
        @include btn($blue, $blue, 8px, #fff, 17px, 15px, 25px);
        margin-bottom: 26px;
    }

    &__watch {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-right: 10px;
        }
    }
}

.advantages {
    display: flex;
    align-items: center;
    background: #f4f7fa;

    &__img {
        margin-right: 125px;
    }

    &__description {
        width: 622px;
        margin: 164px 0 163px 0;
    }

    &__title {
        font-size: 48px;
        line-height: 58px;
        width: 438px;
        margin-bottom: 20px;
    }

    &__text {
        width: 429px;
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 110px;
        opacity: 0.7;
    }

    &__list {
        display: flex;
        gap: 33px;
    }

    &__item {
        display: flex;
        align-items: start;

        &-img {
            margin-right: 14px;
        }

        &-title {
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 15px;
        }

        &-text {
            font-size: 17px;
            line-height: 29px;
            opacity: 0.7;
        }
    }
}

.comfortable {
    display: flex;
    align-items: center;
    background: $blue;

    &__description {
        margin: 169px 244px 169px 340px;
        width: 421px;

        h2,
        p {
            color: #fff;
        }
    }

    &__title {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 15px;
    }

    &__text {
        font-size: 19px;
        line-height: 32px;
        opacity: 0.65;
        margin-bottom: 90px;
    }

    &__comment {
        display: flex;
        align-items: start;

        &-img {
            min-width: 54px;
            margin-right: 22px;
        }

        &-text {
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 23px;
        }

        &-sign {
            font-size: 15px;
            line-height: 26px;
        }
    }
}

.design {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    background: $black;
    margin-bottom: 130px;

    h2,
    p {
        color: #fff;
    }

    &__description {
        width: 475px;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 22px;
    }

    &__text {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 75px;
        opacity: 0.65;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 1;
        width: 1600px;
        height: 669px;
        background: url('../assets/img/Music\ Wave\ 2.png') no-repeat;
    }
}

.get {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1017px;
    margin: 0 auto 181px;

    &__description {
        width: 470px;
    }

    &__title {
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 21px;
    }

    &__text {
        font-size: 19px;
        line-height: 32px;
        margin-bottom: 85px;
        opacity: 0.7;
    }

    &__list {
        display: flex;
        gap: 123px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-img {
            margin-bottom: 31px;
        }

        &-title {
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 15px;
        }

        &-text {
            opacity: 0.7;
            margin-bottom: 31px;
            font-size: 17px;
            line-height: 29px;
        }

        &-button {
            @include btn($blue, $blue, 8px, #fff, 17px, 15px, 25px);
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 243px;

    &__logo {
        font-weight: 700;
        font-size: 24px;
    }

    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
        a {
            font-size: 15px;
        }
    }
}
